[client]
default-character-set=utf8

[mysql]
default-character-set=utf8

[mysqld]
skip-log-bin
binlog-format=ROW
transaction-isolation=READ-COMMITTED

# FIXME: https://github.com/nextcloud/server/issues/25436
innodb_read_only_compressed=OFF
